/* --- Components design --- */
@import url("components/banner.css");
@import url("components/content.css");


/*Google Fonts*/
<style>
@import 'https://fonts.googleapis.com/css?family=Bangers|Righteous';
</style>
/*font-family: 'Righteous', cursive;
font-family: 'Bangers', cursive;*/

/*General Styling*/
body {
}
.container-fluid{
	padding: 0;
	background-image: url("https://hd.unsplash.com/photo-1421717168410-2680ae3ecfe5");
}
.container-fluid .container {
	border-radius: 3px;
	opacity: 0.95;
	width: 85%;
	margin: auto;
}